:root {
  font-family: 'Pretendard';
  src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
  padding-block: 100px;
  padding-inline: 300px;
}

.upperTab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
}

.displayText {
  font-size: 24px;
  font-weight: 700;
}

.newspaperIcon {
  width: 24px;
  height: 24px;
}

.todaysDate {
  font-size: 16;
  font-weight: 500;
  color: #5F6276;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
